# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# SQLite local databases
*.db
*.db-journal

# Local env files
.env
.env.local
.env.*.local

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
